In [1]:
#GroupBy Mechanics

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import DataFrame, Series

In [5]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
                  'key2' : ['one','two','one','two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

In [6]:
df

  key1 key2     data1     data2
0    a  one  0.766942  0.858766
1    a  two -0.553782  0.191770
2    b  one -0.594372 -0.333847
3    b  two  1.071457 -0.821336
4    a  one -0.586361  1.100122

In [8]:
grouped = df['data1'].groupby(df['key1'])

In [9]:
grouped

In [10]:
grouped.mean()

key1
a   -0.124400
b    0.238542
Name: data1, dtype: float64

In [12]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means

key1  key2
a     one     0.090291
      two    -0.553782
b     one    -0.594372
      two     1.071457
Name: data1, dtype: float64

In [13]:
states = np.array(['Ohio','California','California','Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])

In [14]:
df['data1'].groupby([states,years]).mean()

California  2005   -0.553782
            2006   -0.594372
Ohio        2005    0.919199
            2006   -0.586361
Name: data1, dtype: float64

In [15]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [16]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print((k1,k2))
    print(group)

('a', 'one')
  key1 key2     data1     data2
0    a  one  0.766942  0.858766
4    a  one -0.586361  1.100122
('a', 'two')
  key1 key2     data1    data2
1    a  two -0.553782  0.19177
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.594372 -0.333847
('b', 'two')
  key1 key2     data1     data2
3    b  two  1.071457 -0.821336

In [17]:
#Data Aggregation and Group Operations - Data Aggregation

In [18]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [19]:
grouped.agg(peak_to_peak)

key1
a    1.353303
b    1.665829
Name: data1, dtype: float64

In [20]:
frame = pd.DataFrame({'data1' : np.random.randn(1000),
                      'data2' : np.random.randn(1000)
                     })

In [21]:
frame

        data1     data2
0    0.816764  0.437095
1    0.907914  1.365402
2    1.713597  1.034496
3   -0.634606  0.905815
4   -1.940244  0.461653
..        ...       ...
995  0.041524  0.294791
996 -0.275740 -0.412633
997 -1.217039 -0.392886
998 -0.377277 -0.154971
999 -1.062008 -0.338173

[1000 rows x 2 columns]

In [22]:
quartiles = pd.cut(frame.data1,4)

In [23]:
quartiles[:10]

0    (-0.0593, 1.611]
1    (-0.0593, 1.611]
2      (1.611, 3.281]
3    (-1.73, -0.0593]
4     (-3.407, -1.73]
5    (-1.73, -0.0593]
6    (-1.73, -0.0593]
7    (-0.0593, 1.611]
8    (-0.0593, 1.611]
9    (-0.0593, 1.611]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.407, -1.73] < (-1.73, -0.0593] < (-0.0593, 1.611] < (1.611, 3.281]]

In [ ]:
grouping = pd.cut(frame.data1,4)